.place {
  padding-top: 80px;
  display: grid;
  grid-template: repeat(2, max-content) / fit-content(460px) fit-content(484px);
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template: repeat(2, max-content) / fit-content(440px) fit-content(456px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    padding-top: 73px;
    grid-template: repeat(2, max-content) / fit-content(340px) fit-content(352px);
    gap: 48px 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template: repeat(4, max-content) / 100%;
    gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    padding-top: 50px;
  }
}
